fastapi
uvicorn[standard]
google-cloud-storage
google-cloud-aiplatform>=1.60
pandas
numpy
scikit-learn
openpyxl
python-dotenv
pydantic
google-genai
psycopg2-binary
pydantic_settings
locust
python-multipart>=0.0.6